<div class="comunity-item">
   <a >
    <img src="../../../assets/logo/0942d579affa5b76363dbd8788c86409.png" alt="">
   </a>
    <p class="title is-5">
        Nome da Comunidade
    </p>
    <p>
        Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia
    </p>
    <p>
        <a mat-icon-button>
            <mat-icon svgIcon="instagram" color="sn"></mat-icon>
          </a>
          <a mat-icon-button>
            <mat-icon svgIcon="twitter" color="sn"></mat-icon>
          </a>
          <a mat-icon-button>
            <mat-icon color="sn" svgIcon="facebook"></mat-icon>
          </a>
    </p>
</div>