

<div class="tile is-ancestor container">
    <div class="tile is-horizontal is-2 container">
      <!-- Add content or other tiles -->
      <div class="user-box columns">
        <figure class="image is-64x64" style="margin-right:20px; margin-left: 10px;">
            <img class="is-rounded" src="../../../assets/img/person_img.png" alt="">
        </figure>
        <div style="margin-bottom: 20px;">
            <p class="title is-4">
                Jonh Doe
            </p>
            <p>
                <span class="event-container">
                    <mat-icon>
                        date_range
                    </mat-icon> Mar, 30 de 2021
                </span>
            </p>
    
        </div>
    </div>
    </div>
    <div class="tile is-9 box" style="margin-left: 20px;">
      <!-- Add content or other tiles -->
      <p >
        Culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
        voluptartem accusantium doloremque laudantium.
        
    </p>
    </div>
  </div>