.user-box{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.event-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    align-content:center;
}