
.custom-footer{
    background: #E3E4E4;
}

.custom-footer-end{
    background: #040C10;
}

.custom-footer-input{
    color: #BCE0FD;
}
.spacer{
    flex: 1 1 auto;
}

.mat-sn{
    color: blue;
}
.newsletter-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    align-content:center;
    align-self: center;
}

.btn-white{
    height: 48px;
    display: flex;
    width: 100%;
    flex-direction: unset;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}