<div class="custom-footer">
  <section class="section custom-footer container">
    <footer class="content">
      <div class="columns is-desktop">
        <!--
        <div class="apa-footer-newsletter column">
          <h4 class="apa-text-blue apa-footer-title">
            Subscreva a nossa newsletter
          </h4>
          <p class="apa-text-light">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia
          </p>
          <div class="apa-sec-newsletter">
            <input type="email" class="apa-field" />
            <button class="apa-btn-sub" mat-raised-button>Subscrever</button>
          </div>
        </div>
-->
        <div class="column">
          <h4 class="apa-text-blue apa-footer-title">CONFERÊNCIA APA</h4>
          <p class="apa-text-light">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia
          </p>
          <button mat-raised-button color="primary">Doações</button>
        </div>

        <div class="column">
          <h4 class="apa-text-blue apa-footer-title">CONTACTOS</h4>
          <p class="apa-text-light">
            +244 9XX XXX XXX <br />
            APA@APAMAIL.COM
          </p>
          <div class="apa-social-group">
            <a mat-icon-button>
              <mat-icon color="sn" svgIcon="facebook"></mat-icon>
            </a>

            <a mat-icon-button>
              <mat-icon color="sn" svgIcon="google"></mat-icon>
            </a>

            <a mat-icon-button>
              <mat-icon color="sn" svgIcon="twitter"></mat-icon>
            </a>

            <a mat-icon-button>
              <mat-icon color="sn" svgIcon="instagram"></mat-icon>
            </a>
          </div>
        </div>

        <div class="column">
          <h4 class="apa-text-blue apa-footer-title">MAPA DO SITE</h4>
          <ul class="apa-links">
            <li class="apa-text-blue"><a href="#">Eventos</a></li>
            <li class="apa-text-blue"><a href="#">Artigos</a></li>
            <li class="apa-text-blue"><a href="#">Sobre o projecto</a></li>
            <li class="apa-text-blue"><a href="#">Contacto</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </section>
</div>

<div class="custom-footer-end">
  <div class="container">
    <div class="columns custom-footer-end">
      <div class="column content container">
        <p class="apa-text-light">@Associação dos programadores Angolanos</p>
      </div>
    </div>
  </div>
</div>
