.apa-footer-container {
  display: flex;
  flex-direction: row;
}

.custom-footer {
  width: 100%;
  background: #1f272a;
}

.custom-footer-end {
  background: #040c10;
}

.custom-footer-input {
  color: #bce0fd;
}

.apa-btn-sub {
  background-color: #040c10;
  border-radius: 4px;
  margin-left: 10px;
  border: none;
  color: white;
}

.apa-btn-doa {
  background-color: #1387e3;
  width: 73px;
  height: 23px;
  border-radius: 17px;
  border: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.mat-sn {
  color: blue;
}

.btn-white {
  height: 48px;
  display: flex;
  width: 100%;
  flex-direction: unset;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.apa-sec-newsletter {
  display: inline-flex;
  align-items: center;
}

.apa-field {
  background-color: #1f272a;
  height: 40px;
  color: #dfdfdf;
  border-color: #919191;
  font-size: 16px;
  /*padding-left: 15px;*/
  text-indent: 15px;
}

.apa-links {
  text-decoration: none;
}

.apa-social-group {
  display: inline-flex;
  align-items: center;
}

.apa-social {
  width: 45px;
  height: 45px;
  display: inline-block;
}
.apa-social > img {
  width: 20px;
  height: auto;
  display: block;
  margin: 12px auto 0;
}

.apa-footer-title {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
