<div class="custom-footer">
  <footer class="footer custom-footer container">

    <div class="columns is-desktop">

      <div class=" column box">

        <div class="content" style="align-content: center; padding: 10px;">
          <h4 style="color:#2699FB;">Subscreva a nossa newsletter</h4>

          <p style="color:#73787A;" class="content">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          </p>

          <p class="content">

            <mat-form-field appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder">
            </mat-form-field>
            <button mat-raised-button color="primary" style="margin-left: 10px; height: 47px;">Subscrever</button>

          </p>
        </div>

      </div>
      <span class="spacer"></span>
      <div class="column">

        <strong>
          <p class="subtitle">
            MAPA DO SITE </p>
        </strong>

        <P></P>

        <ul>

          <li><a>Eventos</a></li>
          <li><a>Artigos</a></li>
          <li><a>Sobre o projecto</a></li>
          <li><a>Contacto</a></li>

          <li>
            
            <p style="margin-top: 10px;">
              <a mat-icon-button >
                <mat-icon svgIcon="instagram"></mat-icon>
              </a>
              <a mat-icon-button >
                <mat-icon svgIcon="twitter"></mat-icon>
              </a>
              <a mat-icon-button >
                <mat-icon svgIcon="facebook"></mat-icon>
              </a>
            </p>

          </li>

        </ul>

      </div>

    </div>
  </footer>
</div>

<div class="custom-footer-end">

  <div class="container">

    <div class="columns custom-footer-end">

      <div class="column content">
        <p style="color:#73787A;">@Associação dos programadores Angolanos</p>
      </div>

    </div>

  </div>
</div>