.custom-hero{
    background-size: 100%;
    background: rgb(19,135,227);
    background: linear-gradient(42deg, rgba(19,135,227,1) 0%, rgba(82,176,247,1) 0%, rgba(0,0,0,1) 57%);
}

.custom-section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

