<div class="comunity-item">
    <figure class="image is-64x64" style="margin-right:10px;">
        <img class="is-rounded" src="../../../assets/img/person_img.png" alt="">
    </figure>
     <p class="title is-5" style="padding-top: 10px;">
         Nome da Comunidade
     </p>
     <p class="subtitle is-6">
        CO-FOUNDER
     </p>
     <p>
         Excepteur sint occaecat cupidatat non
         proident, sunt in culpa qui officia
         Excepteur sint occaecat cupidatat non
         proident, sunt in culpa qui officia
     </p>
     <p>
         <a mat-icon-button>
             <mat-icon svgIcon="instagram" color="sn"></mat-icon>
           </a>
           <a mat-icon-button>
             <mat-icon svgIcon="twitter" color="sn"></mat-icon>
           </a>
           <a mat-icon-button>
             <mat-icon color="sn" svgIcon="facebook"></mat-icon>
           </a>
     </p>
 </div>