
    <section class="hero is-halfheight is-primary">
        <div class="hero-body ">
          <div>
            <p class="title">
              Conferência APA
            </p>
            <p class="subtitle">
                Excepteur sint occaecat cupidatat <br>non proident, sunt in culpa qui officia
            </p>
            <p>
                <a mat-flat-button color="primary" class="hero-btn-stroke">SABER MAIS </a>
                
            </p>
          </div>
          <span class="spacer"></span>
          <div class="container">
              <img src="../../../assets/img/hero_img.png">
          </div>
        </div>

      </section>