<div class="custom-hero">
    <section class="hero container is-halfheight">
        <div class="hero-body ">

            <div class="tile is-parent">
                <article class="tile is-child is-5">
                 
                  <div class="content">

                    <div class="content custom-event-box" *ngIf="evento_h?.descricao!.length">
                        <p class="subtitle is-2 has-text-white" >
                            {{evento_h!.tema}}
                           <!-- Engenharia do design estratégias de UI/UX-->
                        </p>
                        <p class="has-text-white ">
                            <span class="event-container">
                                <mat-icon class="event-item" style="margin-left:0% !important;">date_range</mat-icon> <span class="has-text-grey-lighter"><!--Mar
                                    30, 2021-->
                                    {{evento_h.data | date:'mediumDate'}}
                                </span>
                                <mat-icon class="event-item">laptop</mat-icon> <span class="has-text-grey-lighter">{{evento_h.modalidade}}</span>
                            </span>
                        </p>
                        <p class="has-text-white  content" style="max-width: 92%;">
                            {{(evento_h!.descricao.length>300)? (evento_h!.descricao| slice:0:300)+'...':(evento_h?.descricao)}}
                           <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad
                            minim veniam.-->
                        </p>
                        <p>
                           <span>
                               <div class="columns">
                                   <div class="column">
                                    <a mat-raised-button color="primary" class="btn-white" style="width: 100% !important;" [routerLink]="['/detalhe-evento/',evento_h.eventoId,evento_h.tema]">SABER MAIS </a>
                                   </div>
                                   <!--
                                   <div class="column">
                                    <a mat-flat-button color="primary" class="hero-btn-stroke-b" style="width: 100% !important;">SABER MAIS </a>
                                   </div>-->
                               </div>
                           </span>
                        </p>
                    </div>

                  </div>
                </article>
              </div>
              <div class="">
                <a [routerLink]="['/detalhe-evento/',evento_h.eventoId,evento_h.tema]">
                  <span class="view-prelectors has-text-grey-light">
                    VER PRELEITORES
                    <mat-icon><span class="material-icons-outlined">
                      arrow_forward
                      </span></mat-icon>
                  </span>
                </a>
            </div>

        </div>
    </section>
</div>
<section class="section  custom-section container">
    <div class="container box">
        <div class="columns">
            <div class="column">
                <mat-form-field appearance="outline" class="custom-mat-input input-full-width">
                    <mat-label>Evento</mat-label>
                    <input type="email" class="custom-mat-input" matInput placeholder="Autor ou título do artigo!">
                </mat-form-field>
            </div>
            <div class="column">
                <mat-form-field appearance="outline" class="input-full-width">
                    <mat-label>Categoria</mat-label>
                    <mat-select>
                        <mat-option value="one">Cloud computing</mat-option>
                        <mat-option value="two">Artificial Intelligence</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="column">
                <button mat-raised-button color="primary" style="height: 50px;" class="input-full-width">Pesquisar</button>
            </div>
        </div>
    </div>

    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div *ngFor="let num of [1,2,3,4,5,6,7,8]" fxFlex="25%" fxFlex.xs="100%" fxFlex.md="33.3%" fxFlex.sm="50%">
                <app-evento-card></app-evento-card> 
          </div>
        </div>
    </div>
  
</section>