.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #040C10; 
}

.hidden{
  display: none;
}

.hide{
  display: none;
}
path{
  fill: brown;
}

.spacer{
  flex: 1 1 auto;
}

.custom-toolbar{
  background-color: #040C10; 
  width: 100% !important;
  position: sticky;
  top: 0;
  z-index: 1;
}
