<div class="box corpo">

    <div class="columns ">
        <div >
            <figure class="image is-32x32">
                    <img class="is-rounded" src="../../../assets/img/person_img.png" alt="">
            </figure>
        </div>
        <div class="conteudo content">
            <p class="title">John Doen</p>
            <p class="subtitle is-5">John Doen</p>
            
            <p class="block">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>

    </div>
</div>