<div>
  <div>
    <div class="card">
      <div class="card-content">
        <p class="subtitle">
          “There are two hard things in computer science: cache invalidation,
          naming things, and off-by-one errors.”
        </p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item" style="display: flow-root">
          <span>
            <div class="media">
              <div class="media-right">
                <figure class="image is-64x64" style="margin-right: 10px">
                  <img
                    class="is-rounded"
                    src="../../../assets/img/person_img.png"
                    alt=""
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">John Smith</p>
                <p class="subtitle is-6">@johnsmith</p>
              </div>
            </div>
          </span>
        </p>
      </footer>
    </div>
  </div>
</div>
