.custom-hero {
  background-image: linear-gradient(
      42deg,
      rgba(19, 135, 227, 0.7) 0%,
      rgba(82, 176, 247, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 57%
    ),
    url("../../../assets/img/devcommunity.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.input-full-width {
  width: 100%;
}
