<div class="custom-hero">
    <section class=" hero section is-halfheight container">
        <div class="hero-body ">
            <div class="content">

                <div class="tile is-ancestor">
                    <div class="tile is-5 is-vertical">
                        <div class="tile">
                            <p class="subtitle has-text-white is-size-2">
                                Sobre a conferência
                            </p>
                        </div>
                        <div class="tile">
                            <p class="is-size-5 has-text-white has-text-justified">
                                You can choose a specific size for each viewport width. You simply need to append the
                                viewport width to the size modifier.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="section container">
    <div class="container section-body">
        <div class="content">
            <p class="title">
                Sobre o projeto
            </p>
            <p class="has-text-justified">
                Culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error
                sit
                voluptartem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi ropeior architecto beatae vitae dicta
                sunt
                explicabo. Nemo eniem ipsam voluptatem quia voluptas
                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eosep quiklop ratione voluptatem
                sequi nesciunt. Neque porro quisquam est, quepi
                dolorem ipsum quia dolor srit amet, consectetur adipisci velit, seid quia non numquam eiuris modi
                tempora
                incidunt ut labore et dolore magnam aliquam quaerat
                iope voluptatem.

            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisifwcing elit, sed do eiusmod tempor incididunt ut labore
                et
                dolore roipi magna aliqua. Ut enim ad minim veeniam,
                quis nostruklad exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor
                in reprehenderit in tufpoy voluptate velit esse cillum
                dolore eu fugiat nulla parieratur. Excepteur sint occaecat cupidatat.
                Culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit
                voluptartem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi ropeior architecto beatae vitae dicta
                sunt
                explicabo. Nemo eniem ipsam voluptatem quia voluptas
                sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eosep quiklop ratione voluptatem
                sequi nesciunt. Neque porro quisquam est, quepi
                dolorem ipsum quia dolor srit amet, consectetur adipisci velit, seid quia non numquam eiuris modi
                tempora
                incidunt ut labore et dolore magnam aliquam quaerat
                iope voluptatem.
                Lorem ipsum dolor sit amet, consectetur adipisifwcing elit, sed do eiusmod tempor incididunt ut labore
                et
                dolore roipi magna aliqua. Ut enim ad minim veeniam,
                quis nostruklad exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor
                in reprehenderit in tufpoy voluptate velit esse cillum
                dolore eu fugiat nulla parieratur. Excepteur sint occaecat cupidatat
            </p>
        </div>
    </div>
</section>
<section class="section is-medium custom-section ">

  
</section>
<section class="section container">
    <div class="section-body container">
        <div class="columns">
            <div class="column">
                <app-member-item></app-member-item>
            </div>
            <div class="column">
                <app-member-item></app-member-item>
            </div>
            <div class="column">
                <app-member-item></app-member-item>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <app-member-item></app-member-item>
            </div>
            <div class="column">
                <app-member-item></app-member-item>
            </div>
            <div class="column">
                <app-member-item></app-member-item>
            </div>
        </div>
    </div>
</section>