<mat-card class="artigo-card">

    
    <img src="../../../assets/img/bila.jpg" >
    <mat-card-actions>
        <p style="margin-top: 10px;">
            <a mat-icon-button>
                <mat-icon svgIcon="instagram" color="sn"></mat-icon>
              </a>
              <a mat-icon-button>
                <mat-icon svgIcon="twitter" color="sn"></mat-icon>
              </a>
              <a mat-icon-button>
                <mat-icon color="sn" svgIcon="facebook"></mat-icon>
              </a>
          </p>
    </mat-card-actions>
</mat-card>